:root {
  --color-text: #d9e0ee;
  --color-background: #1e1e28;
  --color-background-alt: #282a36;
  --color-primary: #96cdfb;
  --color-secondary: #44475a;
  --color-accent: #76b4e5;
  --color-error: #ff6f61;
  --color-error-border: #ff5733;
}
