/* catppuccin-theme.css */
:root {
    --color-text: #D9E0EE;
    --color-background: #1E1E28;
    --color-accent: #96CDFB;
    --color-primary: #96CDFB;
    --color-secondary: #F28FAD;
    /* Add additional colors as needed */
  }
  