/* Frappe Catppuccin Theme for Sets Page */
.sets-page {
  padding: 150px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
}

.sets-page h2 {
  color: var(--color-primary);
}

.gatin-title {
  font-size: 50rem;
  color: #c6d0f5;
  margin-bottom: 20px;
  color: var(--color-primary);
}

.sets-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: start;
}

.set-item {
  background-color: #303446;
  padding: 20px;
  border-radius: 10px;
  color: #c6d0f5;
  text-align: center;
  transition: transform 0.2s;
  position: relative;
  min-height: 150px; /* Ensure consistent height even without description */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
}

.static-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plus-icon {
  font-size: 3rem;
  color: var(--color-primary);
}

.set-item.enlarged {
  transform: scale(1.1);
}

.set-item.shrunk {
  transform: scale(0.9);
  opacity: 0.8;
}

.set-buttons {
  margin-top: 10px;
}

.set-buttons button {
  background-color: var(--color-primary);
}

.set-buttons button:hover {
  background-color: var(--color-text);
  color: var(--color-background);
}

button {
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: var(--color-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: var(--color-primary);
}

.pagination-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination-buttons button {
  background-color: var(--color-primary);
}

.pagination-buttons button:hover {
  background-color: var(--color-text);
  color: var(--color-background);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Edit Button Styling */
.edit-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--color-primary);
  color: #303446;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Added margin for separation */
  display: block; /* Ensure it takes up full line */
  width: 200px; /* Adjust the button width */
  margin-left: auto;
  margin-right: auto;
}

.edit-button:hover {
  background-color: var(--color-primary);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.set-item .delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 5px;  /* This controls the overall size of the button */
  font-size: 18px;
  color: #c6d0f5;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  width: 30px;  /* Adjust the width to control the horizontal size */
  height: 30px;  /* Adjust the height to maintain a square box */
  text-align: center;  /* Centers the "X" inside the box */
  line-height: 22px;  /* Centers the "X" vertically */
}

.set-item .delete-button:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 4px;
}

.set-item .delete-button:focus {
  outline: none;
}
